<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{ title }}</title>
  <link rel="icon" href="{{ '/assets/imgs/favicon.png' | url }}">
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
  {% block content %}{% endblock %}
  <script src="/assets/main.js" defer></script>
  <footer>
    <a href="https://dirt.fyi/"><img src="{{ '/assets/imgs/dirt-logo.svg' | url }}"></a>
    <a href="">Masthead</a>
    <a href="https://www.newschool.edu/"><img src="{{ '/assets/imgs/newschool-logo.svg' | url }}"></a>
  </footer>
</body>
</html>
