<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="{{ '/assets/imgs/favicon.png' | url }}">
  <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
</head>
<body data-base="{{ '/' | url }}">
  <script src="{{ '/assets/main.js' | url }}" defer></script>
  {% block content %}{% endblock %}
  <footer>
    <a href="https://dirt.fyi/"><img src="{{ '/assets/imgs/dirt-logo.svg' | url }}" alt="Dirt logo"></a>
    <a href="#">Masthead</a>
    <a href="https://www.newschool.edu/"><img src="{{ '/assets/imgs/newschool-logo.svg' | url }}" alt="New School logo"></a>
  </footer>
</body>
</html>
