<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="icon" href="{{ '/assets/imgs/favicon.png' | url }}">
  <meta property="og:image" content="{{ '/assets/imgs/sharingimg.png' | url }}">
  <link rel="stylesheet" href="{{ '/assets/main.css' | url }}">
</head>
<body data-base="{{ '/' | url }}" data-page="{{ page.url }}">
  <script src="{{ '/assets/main.js' | url }}" defer></script>
  <script>
    (function() {
      const now = new Date();
      const hour = now.getHours();
      const params = new URLSearchParams(window.location.search);
      const cracked = params.has('cracked');
      const pathname = window.location.pathname;

      const isHome = pathname === '/' || pathname === '/index.html';
      const isAlreadyClosed = pathname.includes('/closed');

      if (!(hour >= 0 && hour < 6) && !cracked && isHome && !isAlreadyClosed) {
        window.location.href = '/closed/';
      }
    })();
  </script>




  {% block content %}{% endblock %}
  <footer>
    <a href="https://dirt.fyi/"><img src="{{ '/assets/imgs/dirt-logo.svg' | url }}" alt="Dirt logo"></a>
    <a href="{{ '/masthead/' | url }}">Masthead</a>
    <a href="https://www.newschool.edu/"><img src="{{ '/assets/imgs/newschool-logo.svg' | url }}" alt="New School logo"></a>
  </footer>
</body>
</html>
