{% extends "base.njk" %}

{% block content %}
<article class="essay">
  <img class="catimessay" src="/../assets/imgs/{{category}}.svg">
  <span class="essayorder">{{ order }}</span>
  <h1 class="essay-title">{{ title }}</h1>
  <span class="author">{{ author }}</span>
  <div class="essay-content">
    <img class="catimessayalt" src="/../assets/imgs/{{altimg}}.svg">
    {{ content | safe }}
  </div>
</article>
<nav>
Invis
</nav>
{% endblock %}
