{% extends "base.njk" %}

{% block content %}
  <h1>Invisible Nightlife Review</h1>
  <ul>
    {% for post in collections.essays %}
      <li>
        <a href="{{ post.url }}">{{ post.data.title }}</a> 
        <small>— {{ post.date | date("MMMM D, YYYY") }}</small>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
