{% extends "base.njk" %}

{% block content %}
<div class="parentWrap">
<div class="titleWrap ">
  <h1 class="item"><span class="faded">Invisible</span> Nightlife Review</h1>
  <p class="subtitle item">Open from 12 to 6am</p>
</div>

<div class="circle-wrapper">
  <div class="circle">
  {% for post in collections.essays %}
    <a 
      href="{{ post.url }}" 
      class="circle-item item-{{ loop.index }}" 
      data-category="{{ post.data.category }}"
    >
     <span class="index-number">
       {{ post.data.order }}
     </span>


      <span class="title">{{ post.data.title }}</span><br>
      <span class="author">{{ post.data.author }}</span>
    </a>
  {% endfor %}
       <div class="centerpiece" id="centerpiece">
       <img id="center-icon" src="/assets/imgs/signs.svg" alt="Center icon">
     </div>
  </div>
</div>
    </div>
  </div>
{% endblock %}
