{% extends "base.njk" %}

{% block content %}
<div class="parentWrap">
  <div class="titleWrap">
    <h1 class="item"><span class="faded">Invisible</span> Nightlife Review</h1>
    <p class="subtitle item">Open from 12 to 6am</p>
  </div>

  <div class="circle-wrapper">
    <div class="circle">
    {% set sortedEssays = collections.essays | sort(attribute='data.order') %}

    {% for post in sortedEssays %}
      <a 
        href="{{ post.data.page.url | url }}" 
        class="circle-item item-{{ loop.index }}" 
        data-category="{{ post.data.category }}"
      >
        <img class="circle-icon" src="{{ ('/assets/imgs/' + post.data.category + '.svg') | url }}" alt="{{ post.data.category }}">
        <span class="index-number">{{ post.data.order }}</span>
        <span class="title">{{ post.data.title }}</span><br>
        <span class="author">{{ post.data.author }}</span>
      </a>
    {% endfor %}
      <div class="centerpiece" id="centerpiece">
        <img id="center-icon" src="{{ '/assets/imgs/blood.svg' | url }}" alt="Center icon">
      </div>
    </div>
  </div>
</div>
{% endblock %}
